# Dependencies
node_modules
.yarn/cache
.yarn/install-state.gz

# Build outputs
.next
.turbo
dist
out

# Env files
.env
.env.local
.env.*.local

# Supabase local state
supabase/.temp
supabase/.branches

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/settings.json
.idea
